<!-- <div class="container">
    <div class="row"><div class="col-xs-12">
        <h1>This is App Component</h1>
<hr>
<app-servers></app-servers>
    </div></div>
</div>
<app-user-details></app-user-details> -->
<div class="container">
    <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
    (getName)="gettheName($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-server-element *ngFor="let serverElement of serverElements"
            [element]="serverElement">
            <p>
                <strong *ngIf="serverElement.type ==='server' " style="color:red">{{serverElement.content}}</strong>
                <em *ngIf="serverElement.type === 'blueprint' ">{{serverElement.content}}</em>
            </p>
        </app-server-element>
        </div>
    </div>
</div>
<div>{{name}}</div>

